header{
    background-color: grey;
    height: 100px;
    text-align: center;
     color: white;
}
NAV{
    background-color: orange;
    height: 50px;
    text-align: center;
    color: white;
}
.CON{
     height:500px;
     background-color: burlywood;
     text-align: center;
     color: white;
}
footer{
    background-color: grey;
    height: 100px;
    text-align: center;
    color: white;
}